<template name="postSubmit">
	<div class="row" style="margin-top:30px;">
		
			<div class="col-md-2"></div>
			<div class="col-md-10">
				<div class="post-input-container" >
					<textarea class="form-control" id="postInputBox" placeholder="What's on your mind?" style="box-shadow:none; height:100px; font-size:18px; max-width: 100%; color:#0973BA; display:block; overflow:hidden; background:rgb(255, 255, 242);" autofocus></textarea>	
					
					<button class="btn post-button pull-right">Post</button>
				</div>
			</div>
		
	</div>
	
</template>